body {
  background-image: linear-gradient(red, orange, yellow, green, blue, indigo);
}

.App {
  text-align: center;
  color: black;
  /* background-color: darkred; */
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.user-card {
  display: flex;
  justify-content: center;
  margin: 2% 0;
}

.follower-card-cont {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}